.container {
	background: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	padding: 3rem;
	font-size: 1.2rem;
	backdrop-filter: blur(5px);
	border-top: 3px solid var(--gold);
}
