.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	backdrop-filter: blur(10px);
	position: sticky;
	top: 0;
	border-bottom: 3px solid var(--gold);
}
.links {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	font-family: var(--baseFont);
}
.container a {
	cursor: pointer;
	color: var(--gold);
	font-size: 2.4rem;
	text-decoration: none;
}
