.landingHeaders * {
	margin: 0;
}
.subHeader {
	color: var(--gold);
	font-family: Spartan, Roboto;
	font-size: 1.6rem;
	font-weight: 400;
	font-style: italic;
}
.landingMedia {
	gap: 2rem;
}

@media (min-width: 769px) {
	.subHeader {
		font-size: 2rem;
	}
	.landingMedia {
		gap: 3rem;
	}
}
@media (min-width: 1025px) {
	.subHeader {
		font-size: 2.2rem;
	}
}
